
<div class="row">
    <div class="col-md-6" *ngFor="let doctor of doctors">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="doctor.profilePicFile" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{doctor.nameEn}}</h5>
          <p class="card-text">{{doctor.MainSpec1En}}</p>
          <a routerLink="" class="btn btn-primary">pick now</a>
        </div>
      </div>
    </div>
</div>
<button class="btn btn-success mx-2" (click)="next()">next</button>
<button class="btn btn-primary" (click)="previous()">previous</button>



